* {
  box-sizing: border-box;
}

.btn:hover {
  background-color: white;
  color: #42a5f5;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 60px; */
  padding: 0.9rem;
  background-color: #42a5f5;
}

.nav-brand {
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: flex-start;
  padding: 0 1rem;
  color: floralwhite;
  flex-grow: 1;
  cursor: pointer;
}

.nav-brand a {
  color: floralwhite;
  text-decoration: none;
}

.nav-items {
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.nav-items.center {
  justify-content: center;
  flex-grow: 2;
}

.nav-items.end {
  justify-content: flex-end;
  flex-grow: 1;
}
.nav-item {
  margin: 0 1rem;
}

.select-algo {
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: floralwhite;
}

.select-size {
  position: relative;
}

.select-size input {
  appearance: none;
  background: none;
  width: 120px;
  /* cursor: pointer; */
  outline: none;
  padding: 0.5rem 1rem;
  background-color: floralwhite;
  color: black;
}

.invalid {
  border: 2px solid red;
}
.error {
  position: absolute;
  left: -14%;
  bottom: -50%;
  color: red;
}
.btn {
  background: none;
  padding: 0.5rem 2rem;
  border: 2px solid white;
  color: floralwhite;
  outline: none;
  cursor: pointer;
}

#help {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: floralwhite;
}
#help:hover {
  background-color: white;
  color: #42a5f5;
}

/* Visualizer */
.Visualizer {
  width: auto;
  padding: 0.5rem;
  margin: 1rem 1rem;
  background-color: white;
  transition: 0.5s ease-in-out;
}
/* Bars */
.Bar {
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(58, 58, 60);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  transition: 125ms ease-in-out;
}

.Bar_val {
  margin: 0 auto 0.25rem;
}

.sorted {
  background-color: #66bb6a;
}

.stateD {
  background-color: #42a5f5;
}

.stateC {
  background-color: #ef5350;
}

.stateB {
  background-color: #f06292;
}

.stateA {
  background-color: #ffd54f;
}

/* SortBars */
.SortBars {
  min-height: 218px;
  height: 50vh;
  padding: 1rem;
  background-color: rgb(199, 199, 204);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: 0.75s ease-in-out;
}

/* Step Instructions */
.instruction {
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

/* Controls */

.Controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}
.repeat {
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 1.1rem;
  margin: 0 10px;
  cursor: pointer;
  width: 4rem;
}
.playbtn {
  background: none;
  border: 1px solid white;
  outline: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #42a5f5;
  color: floralwhite;
  font-size: 1.3rem;
  line-height: 4rem;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
}

.disabled {
  background-color: #aaa;
}

#speed {
  width: 4rem;
  background: none;
  border: none;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
  appearance: none;
  font-size: 1rem;
  padding-left: 0.8rem;
}

/* Algorithm Info */

.algorithm_info {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  width: 80%;
  height: max-content;
  margin: auto;
  padding: 1rem;
  margin: 0 auto;
  border-top: 1px solid black;
}

.algorithm-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-right: 1px solid black;
}

.algorithm {
  color: #333;
  overflow: auto;
}
.algorithm pre {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.performance-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.performance {
  justify-content: flex-start;
  color: #333;
}
.performance pre {
  font-size: 1.1rem;
}

.performance span {
  font-weight: bold;
}
@media (max-width: 992px) {
  .algorithm-container {
    width: 100%;
    border-right: none;
    padding: 1rem;
  }

  .performance-container {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
    margin: 0.3rem 0;
    width: 80%;
  }
  .nav-item {
    margin: 0.5rem 0;
    width: 100%;
  }

  .algorithm_info {
    width: 100%;
  }

  .select-algo {
    width: 100%;
    margin: auto;
  }
  .error {
    left: 0;
  }
  .select-size {
    width: 100%;
  }

  .select-size input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .help-container {
    width :100%;
    text-align: center;
  }
}

/* Help Page */
.help {
  width: 80%;
  margin: auto;
}

.help .img-container {
  width: 60%;
  margin: auto;
  text-align: center;
}
.help img {
  width: 100%;
}

.instructions p{
  margin:2rem 0;
}